@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "vars.css";
@import "scrollbar.css";

@keyframes tilt-shaking {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tilt-shaking-anim {
  animation: tilt-shaking 0.26s infinite;
  cursor: pointer;
  transform-origin: 30% 5%;
}

.modify-elem-center-justify {
  position: absolute;
  align-self: center;
  backdrop-filter: blur(5px);
}

* {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Roboto", sans-serif;
  background-color: var(--backround-color);
  color: var(--text-white);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--backround-color);
  color: var(--text-white);
}

p {
  font-size: var(--body-font-size);
  color: var(--text-white);
}

h2 {
  font-weight: bold;
  font-size: var(--h2-font-size);
  text-transform: uppercase;
}

h1 {
  font-weight: bolder;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

button {
  /* BUTTON */
  padding: 15px;
  border-color: transparent;
  display: inline-block;
  background-color: var(--accentuation-color);
  border-radius: var(--widget-border-radius);
  cursor: pointer;

  /* CONTAINING TEXT */
  font-weight: bold;
  color: black;
  font-size: var(--body-font-size);
  text-transform: none;

  /* TRANSITION */
  transition: scale 0.4s;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
