:root {
    /* >------------ THEME COLORS ------------< */
    --backround-color: #092031;
    --banner-color: #071B29;
    --widget-color: #0A2538;
    --accentuation-color: #D9F750;
    --text-white: #FCFFEE;
    --text-transparent: rgba(252, 255, 238, 0.8);


    /* >------------ FONT SIZES ------------< */
    --h1-font-size: 45px;
    --h2-font-size: 32px;
    --body-font-size: 20px;

    /* >------------ ELEMENTS SIZES ------------< */
    /* DROP DOWN SIZE: CORRESPONDS TO (--h1-font-size x 4) + 27 */
    --drop-down-size: 300px;

    /* >------------ WIDGET VARS ------------< */
    --widget-margin: 40px 10px 0 10px;
    --widget-padding: 20px 30px 20px 30px;
    --widget-border-radius: 10px;
    --widget-box-shadow: 0 7px 5px var(--backround-color);
}
