:root {
    /* >------------ THEME COLORS ------------< */
    --backround-color: #151b2d;
    --banner-color: #1A2238;
    --widget-color: #1A2238;
    --accentuation-color: #9DAAF2;
    --major-color: #FF6A3D;
    --text-white: #FCF5ED;
    --text-transparent: #FCF5ED;

    /* >------------ FONT SIZES ------------< */
    --h1-font-size: 40px;
    --h2-font-size: 27px;
    --body-font-size: 20px;

    /* >------------ ELEMENTS SIZES ------------< */
    /* DROP DOWN SIZE: CORRESPONDS TO (--h1-font-size x 4) + 27 */
    --drop-down-size: 300px;

    /* >------------ WIDGET VARS ------------< */
    --widget-margin: 25px 10px 0 10px;
    --widget-padding: 20px 30px 20px 30px;
    --widget-border-radius: 10px;
    --widget-box-shadow: 0 7px 5px var(--backround-color);
}
